<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Express View</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <header>
      <h1>Express Views</h1>

      <nav>
        <a href="/"> Home </a>
        <br>

        <a href="/books"> Class Books</a>
        <br>

        <a href="/accomplishments"> Class Accomplishments</a>
      </nav>
    </header>


    <!--  â—ï¸ â—ï¸ THE MOST IMPORTANT PART OF THE LAYOUT !!!! -->
    <%- body %>
    <!-- â—ï¸ â—ï¸ THE MOST IMPORTANT PART OF THE LAYOUT !!!! -->


    <footer>
      <p> Made with ðŸ’• at Ironhack </p>
    </footer>

<script src="/js/front.js"></script>
  </body>
</html>
